@charset "UTF-8";@font-face{font-family:"Helvetica Neue Condensed";src:url("/new-images/font2.woff");font-weight:400;font-style:normal}
@font-face{font-family:"Helvetica Neue Condensed";src:url("/new-images/font.woff");font-weight:700;font-style:normal}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-size:62.5%}
body{background:white;font-family:"Helvetica",Helvetica,Arial,sans-serif;font-weight:normal;font-style:normal;font-size:14px;line-height:1;color:#2b2828;position:relative;-webkit-font-smoothing:antialiased}
a img{border:none}
a{color:#c00;text-decoration:none;line-height:inherit}
a:hover{color:#b30000}
a:focus{color:#b30000}
p a,p a:visited{line-height:inherit}
figure{margin:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,th,td{margin:0;padding:0;font-size:14px;direction:ltr}
p{font-family:inherit;font-weight:normal;font-size:14px;line-height:1.6;margin-bottom:17px}
h1,h2,h3,h4,h5,h6{font-family:"Helvetica",Helvetica,Arial,sans-serif;font-weight:bold;font-style:normal;color:#222;text-rendering:optimizeLegibility;line-height:1.1;margin-bottom:14px;margin-top:14px}
h1{font-size:44px}
h2{font-size:37px}
hr{border:solid #ddd;border-width:1px 0 0;clear:both;margin:22px 0 21px;height:0}
em,i{font-style:italic;line-height:inherit}
strong,b{font-weight:bold;line-height:inherit}
small{font-size:60%;line-height:inherit}
code{font-weight:bold;background:#ff9}
ul,ol,dl{font-size:14px;line-height:1.6;margin-bottom:17px;list-style-position:outside}
ol{margin-left:20px}
@media print{*{background:transparent!important;color:black!important;box-shadow:none!important;text-shadow:none!important;filter:none!important;-ms-filter:none!important}
a,a:visited{text-decoration:underline}
a[href]:after{content:"(" attr(href) ")"}
.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content:""}
pre,blockquote{border:1px solid #999;page-break-inside:avoid}
tr,img{page-break-inside:avoid}
img{max-width:100%!important}
@page{margin:.5cm}
p,h2,h3{orphans:3;widows:3}
h2,h3{page-break-after:avoid}
.hide-on-print{display:none!important}
}
.row{
    width:1000px;max-width:100%;margin:0 auto
}
.column,.columns{float:left;min-height:1px;padding:0 20px;position:relative}
.twelve,.row .twelve{width:100%}
img{height:auto}
img,object,embed{max-width:100%}
img{-ms-interpolation-mode:bicubic}
.row{*zoom:1}
.row:before,.row:after{content:" ";display:table}
.row:after{clear:both}
a, a:visited{color:#F50B5F}
a:hover{text-decoration:underline}
a:active{color:#b30000!important}
article,.report-body{}
article ul,article ol,article dl,.report-body ul,.report-body ol,.report-body dl{margin-left:40px}
.underlinedlink a{text-decoration:underline}
#page-header{padding-top:23px;margin-bottom:27px}
#page-header .masthead{margin-bottom:17px}
#page-header .masthead h1{margin:0;font-weight:normal;font-size:27px;font-family:'Helvetica Neue Condensed','Helvetica','Arial',sans-serif}
#page-header .masthead h1 a{color:black}
#page-header .masthead h1 a:hover{text-decoration:none}
#page-header .masthead h1 a img{vertical-align:-7px;max-height:30px;display:inline-block;padding-right:10px}
#page-header .masthead .tagline{font-family:"Helvetica",Helvetica,Arial,sans-serif;font-size:1.142857143em;color:#444;margin:.25em 0}
#page-header .masthead-actions{max-width:500px}
#page-header .primary-nav{border-bottom:1px solid #eee}
#page-header .primary-nav ul{margin:0;padding:0;border:0;overflow:hidden;*zoom:1;line-height:37px}
#page-header .primary-nav li{list-style-image:none;list-style-type:none;margin-left:0;display:-moz-inline-stack;display:inline-block;vertical-align:middle;*vertical-align:auto;zoom:1;*display:inline;white-space:nowrap;padding-right:23px;font-size:18px;font-size:1.8rem;line-height:37px}
#page-header .primary-nav li a{font-family:'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;font-weight:bold;display:block;height:37px;color:#444;text-decoration:none;text-transform:uppercase;padding-bottom:17px;border-bottom:0 solid #CAC8CA;-webkit-transition:all .25s;-moz-transition:all .25s;-o-transition:all .25s;transition:all .25s}
#page-header .primary-nav li .selected{border-bottom:4px solid #CAC8CA;}
#page-header .primary-nav li a:hover{border-bottom-width:4px}
#page-footer{margin-top:3em;padding-top:1em;padding-bottom:2em;background:url(/new-images/footer_separator.png) center top no-repeat}
#page-footer .copyright{color:#999;padding-top:1em;}
#page-footer .copyright a{color:#999;-webkit-transition:all .25s;-moz-transition:all .25s;-o-transition:all .25s;transition:all .25s}
#page-footer .copyright a:hover{color:#c00}
.fix-article-body-width{width:100%!important;padding-right:0;padding-left:0}
pre{border:1px double rgb(202, 202, 202);margin:1em 0;overflow:auto;color:#177517;font-family:Courier New;font-size:19px;line-height:1.3;background:rgb(247, 247, 247);padding:7px 13px;box-shadow:inset 0 0 3px 1px rgb(179, 175, 177);border-radius:4px;}
code{font-size:1.2em;}
input.gsc-search-button{height:26px!important;background-color:rgba(207, 202, 202, 0.24)!important;border:1px solid #D9D9D9!important;}
td{vertical-align:top;}
input[type=checkbox]{width:30px;height:30px;margin:0;vertical-align:middle;}
.rtcmulticonnection-builder{border-right:2px solid red;padding-right:5px;width:32%;}
.rtcmulticonnection-builder small{font-size:12px;}
a{text-decoration:none!important;border:0;background-position:bottom center;background-repeat:repeat-x;background-image:url('/new-images/down-bar.png');padding-bottom:1px;}
a:hover{padding-bottom:2px;}
h2 a, h1 a{padding-bottom:3px;}
h2 a:hover, h1 a:hover{padding-bottom:4px;}
h1, h2, h3, h4, h5, h6 {
font-family: "Helvetica",Helvetica,Arial,sans-serif;
font-weight: bold;
font-style: normal;
color: #222;
text-rendering: optimizeLegibility;
line-height: 1.1;
margin-bottom: 14px;
margin-top: 14px;
}
.l-subsection h1 {font-family: 'Helvetica Neue Condensed','Helvetica','Arial',sans-serif;font-weight: bold;font-size: 1.64em;margin-top: 0;}
.alertbox-article-content h2 {
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 25px;
}
.article-detail-bl header .l-subsection h1 {font-size: 25px;}
.l-subsection h2 {
margin-bottom: 4px;
font-size: 1.2em;
}
.article-detail-bl p {
line-height: 1.3em;
margin-bottom: 7px;
margin-top: 5px;
}
.l-subsection .lede {
font-size: 1.2em;
padding-left: 1.64em;
border-left: 1px solid #eee;
}
.article-detail-bl .lede {color: #089E74;}
@media all and (min-width: 1000px) {
    .btn-open-sourced{position:fixed;top:20%;bottom:20%;background-image:none;}
    .btn-open-sourced img{height:100%;width:50px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
}
@media all and (max-width: 999px) {
    #page-header .masthead-actions , .btn-open-sourced {
        display: none;
    }
}